
@{
    ViewBag.Title = "CheckAppointment";
}

<h1>Check Appointment</h1>
<div class="panel-body">
    <div>
        <input type="date" />
        <input type="button" value="Check" class="btn-danger" />
    </div>
    <div class="list-group">
        <label style="text-align:center">List of Reservation</label>
        <br />
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Time</th>
                    <th>Contact Number</th>
                    <th>dispose</th>
                </tr>
            </thead>
            <tbody>
                @*method to show the search list*@
                <tr>@*Customer Name*@</tr>
                <tr>@*Time*@</tr>
                <tr>@*Contact Number*@</tr>
                <tr>@*Two button to add or cancel*@</tr>
            </tbody>
        </table>


    </div>

</div>

