
@{
    ViewBag.Title = "ContactQM";
}

<h2>Contact Quality Manager</h2>

<div class="panel-body">
    <label>Contact Quality Manager</label>
    <input type="text" name="QMname" />
    <br />
    <br />
    <label>Phone Number</label>
    <input type="number" name="phone" />
</div>

