
@{
    ViewBag.Title = "SitterIndex";
}

<h2>Sitter Home Page</h2>

<a href="~/Views/Sitter/CheckAppointment.cshtml">CheckAppointment</a>
<br />
<a href="~/Views/Sitter/WorkTimeSet.cshtml">Work Time Set</a>
<br /><a href="~/Views/Sitter/ContactQM.cshtml">Contact QM</a>
<br /><a href="~/Views/Sitter/Information.cshtml">Information</a>
<br /><a href="~/Views/Sitter/SitterIndex.cshtml">SitterIndex</a>