
@{
    ViewBag.Title = "WorkTimeSet";
}

<h2>Work Time Set</h2>
<div class="panel-body">
    <label>Date</label>
    <input type="date" />

    <br />
    <br />
    <label>Time</label>
    <input type="text" />
    <label>TO</label>
    <input type="text" />


    <br />
    <br />
    <input type="submit" value="Build" class="btn-default" />
    <input type="button" value="canel" class="btn-default" />
</div>
