
@{
    ViewBag.Title = "CustomerManagerIndex";
}

<h2>CustomerManagerIndex</h2>

<a href="~/Views/CustomerManager/SearchCustomer.cshtml">Search Customer</a>
<br />
<a href="~/Views/CustomerManager/BlockCustomer.cshtml">Block Customer</a>