
@{
    ViewBag.Title = "SearchCustomer";
}

<h2>SearchCustomer</h2>
<div class="panel-body">
    <label> Customer Name</label>
    <input type="text" name="name" />
    <br />
    <input type="submit" value="Search" class="btn-default" />
</div>


