
@{
    ViewBag.Title = "SeachList";
}

<div class="panel-body">
    <h1>Search List</h1>
    <div class="list-group">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>check box</th>
                    <th>name</th>
                    <th>distance</th>
                    <th>rate</th>
                </tr>
            </thead>
            <tbody>
                @*method to show the search list*@
            </tbody>
        </table>
        <input type="submit" value="Reserve" class="btn-primary" />

    </div>


</div>

