@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    941 Progress Avenue<br />
    Scarborough,ON<br />
    <abbr title="Phone">P:</abbr>
    416-289-5000
</address>

<address>
    <strong>Education Pathways:</strong>   <a href="mailto:advising@centennialcollege.ca">mailto:advising@centennialcollege.ca</a><br />
    <strong>Student Financial Services</strong>   <a href="financialaidquestions@centennialcollege.ca">financialaidquestions@centennialcollege.ca</a><br />

</address>