@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Introduction About Happy Sitter </h1>
    <p class="lead">Happy Sitter system can use the Google map to help customer find the best sitter near the customer location.</p>
</div>
